<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Привіт <%= @user.name %></h1>
    <p>Твій код для зміни паролю: <%= @user.recovery_code %></p>
    <p>Дякуємо за повернення та гарного дня!</p>
  </body>
</html>